@import "tailwindcss";

@theme {
  /* Primitive tokens */
  --font-sans: "Lexend", sans-serif;
  --font-mono: "Spline Sans Mono", monospace;

  --color-sky-50: oklch(0.95 0.3 265);
  --color-sky-100: oklch(0.9 0.3 265);
  --color-sky-200: oklch(0.8 0.3 265);
  --color-sky-300: oklch(0.7 0.3 265);
  --color-sky-400: oklch(0.6 0.3 265);
  --color-sky-500: oklch(0.5 0.3 265);
  --color-sky-600: oklch(0.4 0.3 265);
  --color-sky-700: oklch(0.3 0.3 265);
  --color-sky-800: oklch(0.2 0.3 265);
  --color-sky-900: oklch(0.1 0.3 265);
  --color-sky-950: oklch(0.05 0.3 265);

  --color-paper-50: oklch(95.67% 0.019 72.57);
  --color-paper-100: oklch(92.32% 0.037 76.6);
  --color-paper-200: oklch(84.74% 0.091 80.33);
  --color-paper-300: oklch(77.03% 0.083 80.25);
  --color-paper-400: oklch(69.12% 0.074 80.13);
  --color-paper-500: oklch(61.31% 0.066 80);
  --color-paper-600: oklch(51.76% 0.055 80.29);
  --color-paper-700: oklch(42.23% 0.045 79.2);
  --color-paper-800: oklch(32.89% 0.035 78.54);
  --color-paper-900: oklch(23.23% 0.025 77.19);
  --color-paper-950: oklch(17.63% 0.019 82.39);
}

@layer base {
  body {
    background-color: var(--color-sky-200);
    color: var(--color-paper-900);
    font-size: var(--text-lg);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    font-family: var(--font-mono);
    letter-spacing: var(--tracking-tight);
    line-height: var(--leading-snug);
    font-weight: var(--font-weight-semibold);
    color: var(--color-sky-950);
    text-wrap: pretty;
  }

  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  h5 {
    font-size: var(--text-lg);
  }

  h6 {
    font-size: var(--text-base);
  }

  a {
    color: var(--color-sky-950);
    text-decoration: underline;
    font-family: var(--font-mono);
  }
}

@layer components {
  .paper {
    background-color: var(--color-paper-50);
    border: 2px;
    border-style: dashed;
    border-radius: var(--radius-lg);
    box-shadow: 4px 4px 0px 0px var(--color-sky-900);
  }

  .content-flow {
    --flow-space: clamp(0.8rem, 0.5rem + 0.8vw, 1.2rem);
    --flow-after-heading-space: clamp(0.55rem, 0.4rem + 0.6vw, 0.85rem);
    --flow-heading-space: clamp(1.3rem, 0.9rem + 1vw, 1.8rem);
  }

  .content-flow > * + * {
    margin-block-start: var(--flow-space);
  }

  @scope (.content-flow) {
    :scope {
      line-height: var(--leading-relaxed);
      text-wrap: pretty;
    }

    :is(h1, h2, h3, h4, h5, h6) {
      text-wrap: balance;
      margin-block-start: var(--flow-heading-space);
    }

    :is(h1, h2, h3, h4, h5, h6) + * {
      margin-block-start: var(--flow-after-heading-space);
    }

    :is(p, li, blockquote) {
      max-inline-size: 68ch;
    }

    :is(ul, ol) {
      padding-inline-start: 1.25em;
    }

    li + li {
      margin-block-start: 0.35em;
    }
  }
}
