@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-primary-50: oklch(0.95 0.3 265);
  --color-primary-100: oklch(0.9 0.3 265);
  --color-primary-200: oklch(0.8 0.3 265);
  --color-primary-300: oklch(0.7 0.3 265);
  --color-primary-400: oklch(0.6 0.3 265);
  --color-primary-500: oklch(0.5 0.3 265);
  --color-primary-600: oklch(0.4 0.3 265);
  --color-primary-700: oklch(0.3 0.3 265);
  --color-primary-800: oklch(0.2 0.3 265);
  --color-primary-900: oklch(0.1 0.3 265);
  --color-primary-950: oklch(0.05 0.3 265);
}

html,
body {
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
