@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-sky-50: oklch(0.95 0.3 265);
  --color-sky-100: oklch(0.9 0.3 265);
  --color-sky-200: oklch(0.8 0.3 265);
  --color-sky-300: oklch(0.7 0.3 265);
  --color-sky-400: oklch(0.6 0.3 265);
  --color-sky-500: oklch(0.5 0.3 265);
  --color-sky-600: oklch(0.4 0.3 265);
  --color-sky-700: oklch(0.3 0.3 265);
  --color-sky-800: oklch(0.2 0.3 265);
  --color-sky-900: oklch(0.1 0.3 265);
  --color-sky-950: oklch(0.05 0.3 265);

  --color-paper-50: oklch(95.67% 0.019 72.57);
  --color-paper-100: oklch(92.32% 0.037 76.6);
  --color-paper-200: oklch(84.74% 0.091 80.33);
  --color-paper-300: oklch(77.03% 0.083 80.25);
  --color-paper-400: oklch(69.12% 0.074 80.13);
  --color-paper-500: oklch(61.31% 0.066 80);
  --color-paper-600: oklch(51.76% 0.055 80.29);
  --color-paper-700: oklch(42.23% 0.045 79.2);
  --color-paper-800: oklch(32.89% 0.035 78.54);
  --color-paper-900: oklch(23.23% 0.025 77.19);
  --color-paper-950: oklch(17.63% 0.019 82.39);
}

html,
body {
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
